<!DOCTYPE html>
<html>
  <head>
    <title>Peginterest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script>
      window.logo = "<%= asset_path('logo.png') %>"
      window.savebutton = "<%= asset_path('savebutton.png') %>"
      window.loginbackground = "<%=asset_path("loginpage.png")  %>"
      window.editbutton = "<%=asset_path("editbutton.png")%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
